*.class

# Package Files #
*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# Idea specific ones
.idea/workspace.xml
.idea/dictionaries
out/
system-test/
config-test/

# Maven specific ones
target/