*.class

# Package Files #
*.jar
!/gradle/wrapper/gradle-wrapper.jar
!/intellij-xquery-rt/lib/*.jar
*.war
*.ear

# Idea specific ones
out/
build/
sdk/
.gradle/
.idea/
*.iml
*.ipr
*.iws
.shelf/

.DS_Store
